
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.App-header {
  display: flex;
  justify-content: center;
}

.listOfProductsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.listOfProducts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 46em;
}
.productItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #e0e0e0;
  box-shadow: 2px 2px 4px  -2px #e0e0e0;
  
}
.productImage {
  display: flex;
  height: 8em;
  width: 8em;
  margin: 0.3em;
  border-radius: 3px;
  box-shadow: 2px 2px 4px -2px #1a237e;
}
.descriptionProductItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  text-indent: 0.5em;
  font-size: 0.9em;
  
}
.codeAndIsActiveProductItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.activeProductItem {
  display: inline-flex;
  padding: 0;
  color: green;
  text-decoration: underline dotted green;
}
.NotActiveProductItem {
  display: inline-flex;
  padding: 0;
  color: red;
  text-decoration: underline dotted red;
}
.descriptionAndTitleProductItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}
.priceProductItem {
  display:flex;
  flex-direction: column;
  font-size: 1em;
}
.priceGoldAltRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.priceGoldAlt {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  font-size: 0.9em;
  font-weight: bolder;
  flex-grow: 1;
  
}
.priceGoldAltAmount {
  display: flex;
  font-size: 1.5em;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  flex-grow: 2;
}
.bonusAmountProductItem {
  display: inline-flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: gray;

}
.priceGold {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1.5em;
  color: gray;
}
.buttonsUnitRatioProductItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0.2em;
}
.selectedButtonProductItem {
  display: flex;
  border: none;
  margin: 0.2em;
  background-color: #222222;
  color: white;
  outline-style: none;
}
.unselectedButtonProductItem {
  display: flex;
  border: none;
  background-color: white;
  outline-style: none;
  margin: 0.2em;
  text-decoration: underline dotted black;
}
.infoProductItem {
  display: inline-flex;
  justify-content: flex-start;
  border: 1px solid gray;
  padding: 0.3em;
}
.infoProductItemText {
  display: flex;
  text-align: left;
  font-size: 0.8em;
}
.cartAndStepperWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: .5em;
}
.stepper {
  display: flex;
  flex-direction: row;
}
.productCountStepper {
  display: flex;
  width: 2.85em;
  height: 2.85em;
  text-align: center;
}
.steppersIncDecr {
  display: flex;
  flex-direction: column;
}
.stepperArrow {
  display: flex;
  width: 1.7em;
  height: 1.65em;
  background-color: white;
  border: solid 0.1em gray;
  padding: 0;
  cursor: pointer;
}
.stepperArrow:hover {
  background-color: gray;
}
.btn_cart {
  background-color: #f90;
  width: 7em;
  color: white;
  font-size: 1em;
  margin-left: 0.5em;
  border: 0;
  cursor: pointer;
}
.btn_cart:hover {
  background-color: gray;
}
p {
  display: flex;
  margin: 0.5em;
}